/* src/index.css */
body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: linear-gradient(180deg, #b2fde7, #ffffff); /* azul → verde */
  background-attachment: fixed; /* faz o fundo não rolar com a página */
  
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Segoe UI", Roboto, Arial, sans-serif;
  background-color: #f5f5f5;
  color: #333;
}


header {
background: linear-gradient(90deg, #0077b6, #00b87a);
  color: white;
  padding: 1rem 2rem;
  text-align: center;
}

header nav a {
  color: white;
  margin: 0 10px;
  text-decoration: none;
  font-weight: 500;
}

header nav a:hover {
  text-decoration: underline;
}


footer {
  background: linear-gradient(90deg, #0077b6, #00b87a);
  color: rgb(0, 0, 0);
  text-align: center;
  padding: 1rem;
  margin-top: 2rem;
}


main {
  padding: 2rem;
  min-height: 70vh;
}


.home {
  text-align: center;
  margin-top: 3rem;
}

.h1 {
  font-size: 2.5rem;
  color: #000000;
  font-weight: bold;
  margin-bottom: 1rem;
}

.home p {
  font-size: 1.2rem;
  color: #555;
  margin-bottom: 2rem;
}

.home .btn {
  display: inline-block;
  margin: 1rem;
  padding: 10px 20px;
  border-radius: 8px;
  background-color: #000000;
  color: rgb(255, 255, 255);
  text-decoration: none;
  transition: 0.3s;
}

.home .btn:hover {
  background-color: #005f8a;
}


form {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  margin: 0 auto;
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

input,
textarea {
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 1rem;
}

textarea {
  resize: none;
  min-height: 100px;
}

button {
  background-color: #0077b6;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  background-color: #005f8a;
}
.page {
  text-align: center;
  margin: 3rem auto;
  max-width: 800px;
  background: rgb(233, 233, 233);
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.page h1 {
  color: #0077b6;
  font-size: 2rem;
  margin-bottom: 1rem;
}

.page p {
  font-size: 1.1rem;
  color: #555;
  margin-bottom: 1rem;
}


@media (max-width: 768px) {
  header nav a {
    display: block;
    margin: 8px 0;
  }

  form {
    width: 90%;
  }
}

